body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.before,
.after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff;
  animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}
.after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@keyframes bang {
  to {
    box-shadow: -116px -239.6666666667px #0ff, 32px -29.6666666667px #ff002b,
      -220px -302.6666666667px #0f3, -4px -215.6666666667px #e1ff00,
      170px -215.6666666667px #00ff2f, 116px -122.6666666667px #1e00ff,
      -163px -347.6666666667px #f0b, -64px -22.6666666667px #ff8400,
      67px -120.6666666667px #91ff00, -156px -242.6666666667px #ff008c,
      190px -237.6666666667px #a200ff, -169px -110.6666666667px #f2ff00,
      -140px -287.6666666667px #9f0, 241px -308.6666666667px #2600ff,
      -217px -391.6666666667px #ff0095, -24px -170.6666666667px #0037ff,
      -138px -181.6666666667px #00ffe1, 11px -199.6666666667px #00ffc8,
      -127px -327.6666666667px #05f, 43px -341.6666666667px #9100ff,
      250px -139.6666666667px #00a2ff, -111px -55.6666666667px #5eff00,
      -145px -235.6666666667px #00f7ff, -37px -167.6666666667px #00c4ff,
      99px -306.6666666667px #f50, -219px -280.6666666667px #9100ff,
      207px -78.6666666667px #000dff, 218px -25.6666666667px #fa0,
      -97px -403.6666666667px #ff0073, -54px -399.6666666667px #00ff09,
      240px -29.6666666667px #00fbff, -104px -151.6666666667px #ff5900,
      67px -114.6666666667px #0f1, 73px -48.6666666667px #2f0,
      -15px 20.3333333333px #ff003c, 86px -57.6666666667px #ff0048,
      -23px -376.6666666667px #9100ff, -75px -45.6666666667px #00ff8c,
      -94px -307.6666666667px #fff200, 191px -137.6666666667px #a600ff,
      -28px 21.3333333333px #fb00ff, -90px -276.6666666667px #0f5,
      89px -315.6666666667px #0fe, 100px -85.6666666667px #007bff,
      -93px -121.6666666667px #00ff40, 113px -15.6666666667px #00f2ff,
      237px -100.6666666667px #00b7ff, -107px -256.6666666667px #5900ff,
      -242px -22.6666666667px #d9ff00, 115px -46.6666666667px #00fff2,
      -157px -91.6666666667px #f30;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
